{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
<title>Personal information network</title>

	<!-- Meta tag Keywords -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="utf-8">
	<meta name="keywords" content="Activity Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
	Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
	<!-- scroll top script when refresh a page
	<script type="application/x-javascript">
		addEventListener("load", function () {
			setTimeout(hideURLbar, 0);
		}, false);

		function hideURLbar() {
			window.scrollTo(0, 1);
		}
	</script>
	<!--// Meta tag Keywords -->
	<!-- css files -->
	<link rel="stylesheet" href="{%  static '/web/css/bootstrap.css' %} "> <!-- Bootstrap-Core-CSS -->
	<link rel="stylesheet" href="{%  static 'web/css/style.css' %}" type="text/css" media="all" /> <!-- Style-CSS -->
	<link rel="stylesheet" href="{%  static '/web/css/font-awesome.min.css' %}"> <!-- Font-Awesome-Icons-CSS -->
	<!-- //css files -->
	<!--web font--><link href="//fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i&amp;subset=latin-ext" rel="stylesheet">
</head>
<body>
<!-- //header -->
<header>
	<div class="container" id="home">
		<!-- nav -->
		<nav class="py-4">
        <div id="logo">
			<h1> <a href="#"><span class="fa fa-rebel" aria-hidden="true"></span> Activity/a></h1>
		</div>
        <label for="drop" class="toggle">Menu</label>
        <input type="checkbox" id="drop" />
            <ul class="menu mt-2">
                <li class="mr-lg-4 mr-3 active"><a href="/">Home</a></li>
                <li class="mr-lg-4 mr-3">
                <!-- First Tier Drop Down -->
                <li><a href="#contact">Contact</a></li>
            </ul>
        </nav>
		<!-- //nav -->
    </div>
</header><!-- //header -->



<!-- about -->
<section class="about py-5" id="about">
	<div class="container py-3">
		<h3 class="heading">About Me</h3>
		<div class="row about-grids">
			<div class="col-lg-4">
				<h4 class="">Добро пожаловать на мою страничку  .</h4>
				<p class="my-4">Всем привет! Меня зовут Дмитрий, но вообще то, для друзей я просто Вадимыч 😉.
                  Я бывший закоренелый династийный железнодорожник, а ныне девелопер, охотовед, и просто
                    романтическая личность. Надеюсь мы подружимся!
                </p>

			</div>
			<div class="col-lg-4 col-md-6 my-lg-0 my-5">
				<img src="{%  static '/web/web_about.png' %}" alt="" class="img-fluid" />
			</div>
			<div class="col-lg-4 bar-grids">
				<div class="wthree_skills">
					<h6 class="mb-2">Programming & Developing<span> 90% </span></h6>
					<p>Сейчас развитию именно этих скилов я посвящаю почти все свободное время"</p>
					<div class="my-4">
						<h6 class="mb-2">Охота / Лес / Природа <span> 100% </span></h6>
						<p>Эти вещи просто неразрывно связаны отныне с каждым днем моей жизни. И сейчас, я в это
                            вкладываю прежде всего, смысл сохранения и охраны нашей природы, а также созерцание ее
                            богатств.
                            .</p>
					</div>
					<h6 class="mb-2">Радио / Фотография <span>75% </span></h6>
					<p>Еще два крупнейших увлечения в моей жизни! И если вы захотите встриться со сной и в эфире то
                        всегда буду рад этому! EA/RA1ALK</p>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- about -->

<!-- text -->
<div class="text py-lg-5 py-5 text-center" id="text">
	<div class="container py-sm-3">
		<h5 class="w3pvt-title text-white">Текущие активные проекты.</h5>
		<p>Здесь вы сможете найти подробную информацию о тех проектах которыми я занимаюсь и возможно даже принять в
            некоторых из них участие! Следите за пополнением информации она в стадии обновления.
        </p>
		<div class="d-flex justify-content-center mt-3">
			<a href="#" class="text-capitalize mr-2 work btn">Подробнее</a>
			<a href="#" class="text-capitalize hire btn">Участие</a>
		</div>
	</div>
</div>
<!-- //text -->

<!-- contact -->
<section class="contact py-5" id="contact">
	<div class="container py-3">
		<h3 class="heading">Контакты</h3>
		<div class="row contact-grids">
			<div class="col-lg-5 contact-left">
				<h4 class="mb-4">Адрес</h4>
				<div class="row">
					<div class="col-1 pr-0 icon">
						<span class="fa fa-map-marker" aria-hidden="true"></span>
					</div>
					<div class="col-11">
						<p>Vidal I Barraquer , 36 Blanes</p>
						<p> Girona 17300 , Spain</p>
					</div>
					<div class="col-1 pr-0 icon my-2">
						<span class="fa fa-phone" aria-hidden="true"></span>
					</div>
					<div class="col-11 my-2">
						<p> +34 603 610 612</p>
					</div>
					<div class="col-1 pr-0 icon">
						<span class="fa fa-envelope-open" aria-hidden="true"></span>
					</div>
					<div class="col-11">
						<p><a href="mailto:example@email.com"> morozovd@me.com</a></p>
					</div>
					<div class="map col-sm-11 mt-4">
						<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d24008.744505590952!2d2.7648741402567025!3d41.66950276326647!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12bb3df338248d43%3A0xd00e38b0f0638982!2zMTczMDAg0JHQu9Cw0L3QtdGBLCDQltC40YDQvtC90LA!5e0!3m2!1sru!2ses!4v1587044485327!5m2!1sru!2ses" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
					</div>
				</div>
			</div>
			<div class="col-lg-7 mt-lg-0 mt-5 contact-right">
				<h4 class="mb-4">Get In Touch</h4>
				<form action="#" method="post">
					<label><span class="fa mr-2 fa-user" aria-hidden="true"></span> Имя</label>
					<input type="text" name="Name" value="Name" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Name';}" required="">
					<div class="clearfix"></div>
					<label><span class="fa mr-2 fa-envelope-open" aria-hidden="true"></span>Email</label>
					<input type="email" name="Email" value="Email" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email';}" required="">
					<div class="clearfix"></div>
					<label><span class="fa mr-2 fa-phone" aria-hidden="true"></span>Телефон</label>
					<input type="text" name="Phone" value="Phone" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Phone';}" required="">
					<div class="clearfix"></div>
					<label><span class="fa mr-2 fa-edit" aria-hidden="true"></span>Текст</label>
					<textarea name="Message" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Message...';}" required="">Message...</textarea>
					<button type="submit" class="btn">Отправить</button>
				</form>
			</div>
		</div>
	</div>
</section>
<!-- //contact -->

<!-- footer -->
<footer class="py-5">
	<div class="container">
		<div class="w3layoutsinfo-grids">
			<div class="w3layouts-grid-left w3layouts-grid-right text-center">
				<div class="social mb-4">
					<ul>
						<li><a href="#"><span class="fa mr-2 fa-facebook"></span></a></li>
						<li><a href="#"><span class="fa mr-2 fa-twitter"></span></a></li>
						<li><a href="#"><span class="fa mr-2 fa-google-plus"></span></a></li>
						<li><a href="#"><span class="fa mr-2 fa-pinterest"></span></a></li>
						<li><a href="#"><span class="fa mr-2 fa-vk"></span></a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="copyright text-center">
			<p>© 2020 Activity. All Rights Reserved | Design by <a href="#"> Dmitry Morozov,
                Spain</a> </p>
			<a href="#home" class="move-top scroll"><span class="fa fa-angle-up" aria-hidden="true"></span></a>
		</div>
	</div>
</footer>
<!-- //footer -->

</body>
</html>